<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="ParallelBrowserSuite" parallel="tests" thread-count="2">
<!--    <test name="Test on Safari">-->
<!--        <parameter name="browser" value="safari"/>-->
<!--        <classes>-->
<!--            <class name="tests.LoginTest"/>-->
<!--        </classes>-->
<!--    </test>-->
    <test name="Test on Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="tests.LoginTest"/>
        </classes>
    </test>
<!--    <test name="Test on Firefox">-->
<!--        <parameter name="browser" value="firefox"/>-->
<!--        <classes>-->
<!--            <class name="tests.LoginTest"/>-->
<!--        </classes>-->
<!--    </test>-->
</suite>
